@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body{
    font-family: Poppins, sans-serif;
}
div{
    margin-left: 320px;
    top: 50px;
    clear: both;
}
img {
    float: left;
    height: 300px;
    width: 300px;
    margin-right: 30px;
}
h1, h2 {
    border-bottom-style: inset;
}
